@use '../abstracts/variables' as *;

.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  column-gap: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  &--auto {
    width: auto;
    flex-grow: 0;
    overflow-y: hidden;
    white-space: nowrap;
  }
  &--amount{
    min-width: 6ch;
    justify-content: center;
  }
  &--centred {
    justify-content: center;
  }
  &--whole{
    padding: 0px;
  }

  &--close{
    column-gap: 5px;
  }
  &--tight{
    column-gap: 0px;
    flex-shrink: 0;
  }
  &--opacity {
    opacity: 0;
  }
  &--button-height {
    height: 30px;
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    &.block--centred {
      align-items: center;
    }
  }
  &--vertical-gap {
    row-gap: 10px;
  }
  &--vertical-borders {
    border-bottom: black 2px solid;
  }
  &--bordered {
    border: black 1px solid;
    border-radius: 10px;
    flex-shrink: 0;
  }
  &--shrink {
    flex-shrink: 0;
  }
  &--shrink-1 {
    flex-shrink: 1;
  }
  &--last{
    margin-left: auto;
  }
  &--last-vertical{
    margin-top: auto;
  }
  &--first-vertical{
    margin-bottom: auto;
  }
  &--short {
    width: max-content;
  }
  &--overflow {
    overflow: visible;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
  &.bold {
    font-weight: 700;
  }
}

