@use '../abstracts/variables' as *;

.input {
  background-color: transparent;
  color: inherit;
  outline: none;
  box-sizing: border-box;
  height: 30px;
  border: 2px solid black;
  &--date {
    width: 14ch;
  }
  &--amount {
    width: 6ch;
  }
}

