@if (event()){
<div class="wrapper">
  <app-instagram-reels-carousel [reels]="reels()" [short]="true"></app-instagram-reels-carousel>
  <div class="timing">
    <div> {{event().date}}</div>
    <div> {{event().start}}</div>
  </div>
  <div class="place">
    @if(place()){
    <a [href]="place().map" target="_blank" rel="noopener noreferrer" class="venue-link">
      {{ place().name }}
    </a>
    }
  </div>
  <div class="description">
    {{description()}}
  </div>

  <button class="buy-button" (click)="buyTickets()">
    Купить билеты
  </button>
</div>

}
