@if (event()){
<div class="wrapper">
  <app-instagram-reels-carousel [reels]="reels()" [short]="true"></app-instagram-reels-carousel>
  <div class="timing">
    <div> {{event().date}}</div>
    <div> {{event().start}}</div>
  </div>
  <div class="place">
    @if(place()){
    {{ place().name }}
    <a class="ticket-map" [href]="place().map" target="_blank">
      Открыть на карте
    </a>
    }
  </div>
  <div class="description">
    {{description()}}
  </div>

  <button class="buy-button" (click)="buyTickets()">
    Купить билеты
  </button>
  <button class="buy-button" (click)="back()">
    Назад
  </button>
</div>

}
