:host {
  width: 100%;
  display: block;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* ВАЖНО: не auto, а hidden */
.carousel {
  display: flex;
  gap: 20px;
  overflow-x: hidden; /* убираем горизонтальный скролл */
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
  &.short {
    height: 461px;
    overflow: hidden;
  }
}

/* Один reel */
.reel {
  flex: 0 0 auto;
  width: 320px;
}

/* Резервируем высоту ДО загрузки embed */
.reel-inner {
  width: 100%;
  aspect-ratio: 9 / 16; /* ключевой фикс */
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Чтобы Instagram не ломал ширину */
.instagram-media {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 auto !important;
}

/* --- КНОПКИ --- */

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  font-size: 22px;
  font-weight: bold;

  background: linear-gradient(135deg, #d4af37 0%, #f5d76e 50%, #b8860b 100%);

  color: #111;

  box-shadow:
    0 0 10px rgba(212, 175, 55, 0.6),
    0 0 20px rgba(212, 175, 55, 0.4);

  transition: all 0.3s ease;
}

.nav:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow:
    0 0 15px rgba(255, 215, 0, 0.8),
    0 0 30px rgba(255, 215, 0, 0.6);
}

.nav:active {
  transform: translateY(-50%) scale(0.95);
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

@media (max-width: 768px) {
  .carousel {
    overflow-x: auto; /* ВАЖНО */
    scroll-snap-type: x mandatory;

    padding-left: calc((100% - 320px) / 2);
    padding-right: calc((100% - 320px) / 2);

    scroll-padding-left: calc((100% - 320px) / 2);
    scroll-padding-right: calc((100% - 320px) / 2);
  }

  .reel {
    width: 320px;
    scroll-snap-align: center;
  }

  .left {
    left: 10px;
  }

  .right {
    right: 10px;
  }
}
