// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin position($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}


@mixin flex($fd: row, $ai: center, $jc: center, $cg: 0px,  $rg: 0px) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
  column-gap: $cg;
  row-gap: $rg;

}

@mixin flex2($props: ()) {
  display: flex;

  @if map-has-key($props, fd) {
    flex-direction: map-get($props, fd);
  }
  @if map-has-key($props, ai) {
    align-items: map-get($props, ai);
  }
  @if map-has-key($props, jc) {
    justify-content: map-get($props, jc);
  }
  @if map-has-key($props, cg) {
    column-gap: map-get($props, cg);
  }
  @if map-has-key($props, rg) {
    row-gap: map-get($props, rg);
  }
}