.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.photo-wrapper {
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 1);
  position: relative;
}

.photo {
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 1);
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12%;
}

.title {
  font-size: 30px;
  font-weight: 900;
  color: #d4af37;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #d4af37;
  letter-spacing: 1px;
  text-align: center;
}

.reels,
.concert,
.improvisation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.tour-button-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tour-button {
  padding: 14px 34px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;

  background: transparent;
  color: #d4af37;

  border: 1.5px solid #d4af37;
  border-radius: 40px;

  cursor: pointer;

  transition: all 0.3s ease;
  white-space: nowrap;
}

/* Hover — лёгкое золото + свечение */
.tour-button:hover {
  background: rgba(212, 175, 55, 0.08);

  box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);

  transform: translateY(-2px);
}

/* Нажатие */
.tour-button:active {
  transform: translateY(0);
}

.tour {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.city-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.city-title {
  font-size: 26px;
  font-weight: 500;
  color: #d4af37;
  letter-spacing: 1px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Кнопки мероприятий */

.event-button {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px 15px;

  background: transparent;
  border: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 8px;

  color: #d4af37;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* Hover */
.event-button:hover {
  border-color: #d4af37;
  background: rgba(212, 175, 55, 0.05);
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.2);
}
