.home-page {
  display: flex;
  width: 100%;
  overflow-x: hidden; /* убираем возможный горизонтальный скролл */
}

.photo {
  position: relative;
  width: 50%;
  min-height: 100vh; /* вместо height */
  background-image: url("../../../assets/main.jpg");
  background-size: cover;
  background-position: top;
  .buttons {
    display: none;
  }
}

.reels {
  width: 50%;
  min-height: 100vh; /* тоже min-height */
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* важно */
  overflow: hidden;

  padding: 0 20px;
}

.tour-button-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tour-button {
  padding: 14px 34px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;

  background: transparent;
  color: #d4af37;

  border: 1.5px solid #d4af37;
  border-radius: 40px;

  cursor: pointer;

  transition: all 0.3s ease;
      white-space: nowrap;
}

/* Hover — лёгкое золото + свечение */
.tour-button:hover {
  background: rgba(212, 175, 55, 0.08);

  box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);

  transform: translateY(-2px);
}

/* Нажатие */
.tour-button:active {
  transform: translateY(0);
}

.tour {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.city-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.city-title {
  font-size: 26px;
  font-weight: 500;
  color: #d4af37;
  letter-spacing: 1px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Кнопки мероприятий */

.event-button {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 14px 22px;

  background: transparent;
  border: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 8px;

  color: #d4af37;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* Hover */
.event-button:hover {
  border-color: #d4af37;
  background: rgba(212, 175, 55, 0.05);
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.2);
}

/* Мобильная версия */
@media (max-width: 768px) {
  .home-page {
    flex-direction: column;
  }

  .photo {
    width: 100%;
    .buttons {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .reels {
    width: 100%;
    padding: 0px;
    .tour-button-wrapper {
      display: none;
    }
  }
}
