.photo {
  position: relative;
  width: 100%;
  min-height: 100vh; /* вместо height */
  background-image: url("../../../assets/main.jpg");
  background-size: cover;
  background-position: top;
  .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 1);
}

.tour-button-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tour-button {
  padding: 14px 34px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;

  background: transparent;
  color: #d4af37;

  border: 1.5px solid #d4af37;
  border-radius: 40px;

  cursor: pointer;

  transition: all 0.3s ease;
      white-space: nowrap;
}

/* Hover — лёгкое золото + свечение */
.tour-button:hover {
  background: rgba(212, 175, 55, 0.08);

  box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);

  transform: translateY(-2px);
}

/* Нажатие */
.tour-button:active {
  transform: translateY(0);
}
