<div class="wrapper">
  @switch (ticket()) {
  @case (undefined) {
  <div class="loader">
    <div class="gold-spinner"></div>
  </div>
  }
  @case (null) {
  <div>Билет не найден</div>
  }
  @default {
  <div class="ticket-button">

    <div class="ticket-top">
      <div class="ticket-city">
        {{ ticket().city?.name }}
      </div>

      <div class="ticket-type">
        {{ ticketNames[ticket().type] }}
      </div>
    </div>
    @if (ticket().add) {
    <div class="ticket-add">
      {{ ticket().add }}
    </div>
    }
    <div class="ticket-info">
      <div>
        {{ ticket().event?.date }} · {{ ticket().event?.start }}
      </div>

      <div class="ticket-place">
        {{ ticket().place?.name }}
      </div>

    </div>

    <div [ngClass]="['ticket-status', status()]">
      @switch (status()) {
      @case (TicketStatus.Refound) {
      Билет вернули
      }
      @case (TicketStatus.Inside) {
      Гость уже внутри
      }
      @case (TicketStatus.Default) {
      Билет в порядке
      }
      }
    </div>

  </div>

  @if(showButton()){
    @switch (status()) {
    @case (TicketStatus.Inside) {
    <button class="buy-button" (click)="changeStatus(false)">
      Гость вышел из зала
    </button>
    }
    @case (TicketStatus.Default) {
    <button class="buy-button" (click)="changeStatus(true)">
      Гость зашел в зал
    </button>
    }
    }
  }

  }

  }

  <button class="buy-button back" (click)="back()">
    Назад
  </button>
</div>
