<div class="search-wrapper">

  <div class="input-container">
    <input type="text" [formControl]="searchControl" placeholder="Поиск Гостя..." autocomplete="off" />

    <div *ngIf="searchControl.value" class="clear-btn" (click)="clearInput()">
      ✕
    </div>
  </div>
  @if(loading) {
  <div class="loader">
    <div class="gold-spinner"></div>
  </div>

  }
  @if (results.length) {
  <ul>
    <li *ngFor="let item of results" (click)="selectItem(item)">
      {{ item.name }}
    </li>
  </ul>
  }


</div>
