.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  row-gap: 10px;
  color: #d4af37;
  padding: 10px;
}
.schema {
  border: 1.5px solid #d4af37;
}

.schema-image {
  height: 250px;
}

.timing {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.venue-link {
  color: #d4af37 !important;
}

.description {
  text-align: center;
}

.buy-button {
  padding: 14px 34px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;

  background: transparent;
  color: #d4af37;

  border: 1.5px solid #d4af37;
  border-radius: 40px;

  cursor: pointer;

  transition: all 0.3s ease;
  white-space: nowrap;
}

.tickets-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Карточка билета */
.ticket-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  padding: 10px;
  border: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 16px;

  background: #0c0c0c;

  transition: all 0.3s ease;
}

.ticket-card:hover {
  border-color: #d4af37;
  box-shadow: 0 0 25px rgba(212, 175, 55, 0.15);
}

.ticket-info {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

/* Информация */
.ticket-title {
  font-size: 18px;
  font-weight: 500;
  color: #d4af37;
}

.ticket-prices {
  font-size: 16px;
  color: #ffffff;
}

.ticket-add {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

/* Контролы */
.ticket-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Кнопки +/- */
.control-btn {
  width: 38px;
  height: 38px;

  border-radius: 50%;
  border: 1px solid #d4af37;

  background: transparent;
  color: #d4af37;
  font-size: 20px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.control-btn:hover:not(:disabled) {
  background: #d4af37;
  color: black;
}

.control-btn:disabled {
  opacity: 0.3;
  cursor: default;
}

/* Количество */
.ticket-count {
  min-width: 24px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.qr {
  max-width: 90%;
  max-height: 70%;
}

.instruction {
  text-align: center;
}
