@if (event()){
<div class="wrapper">
  @if (payment) {
  @if (currency === 'VND') {
  <img class="qr" src="assets/qr.png" alt="QR">
  <button class="buy-button" (click)="downloadQR()">
    Сохранить QR
  </button>
  <div class="instruction white">
    Оплатите {{ totalVND() }}k VND и отправьте скриншот квитанции.
  </div>
  } @else if(currency === 'RUB') {
  <div class="instruction white">
    Оплатите {{ totalRub() }} ₽ по номеру
  </div>
  <div class="instruction phone" (click)="copyPhone()">{{ phone }}</div>
  <div class="instruction white">
    на Т-банк или Сбербанк и отправьте скриншот квитанции.
  </div>
  } @else {

  <div class="instruction white">
    Оплатите {{ totalUSDT() }} USDT на:
  </div>
  <div class="instruction phone" (click)="copyTON()"> TON кошелек</div>
  <div class="instruction phone" (click)="copyTRC20()"> TRC20 кошелек</div>
  <div class="instruction white">
    и отправьте скриншот квитанции.
  </div>
  }
  <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #fileInput>
  <button class="buy-button important" (click)="fileInput.click()">
    Отправить квитанцию
  </button>
  <button class="buy-button" (click)="cancelPayment()">
    Назад
  </button>
  } @else if (showInfo) {
  <div class="instruction white">
    Спасибо за покупку! После подтверждения оплаты, бот отправит вам билеты в телеграмм
  </div>
  @if (!stateService.isStartPressed()){
  <div class="important">
    Нажми старт в диалоге с ботом, чтобы он смог прислать тебе билеты
  </div>
  <button class="buy-button" (click)="goToBot()">
    Перейти в диалог
  </button>
  }
  <div class="instruction white">
    Если у вас возникнут вопросы, напишите в чат с ботом
  </div>
  <div class="instruction white">
    Статус билетов можно проверить в этом разделе:
  </div>

  <button class="buy-button" (click)="myTickets()">
    Мои билеты
  </button>
  <button class="buy-button" (click)="back()">
    На главную страницу
  </button>
  } @else if(cashSale) {
  <app-search (userSelected)="onUserSelected($event)"></app-search>
  <label class="gold-checkbox">
    <input type="checkbox" [(ngModel)]="gotMoney" />
    <span class="checkmark"></span>
    <span class="label-text">Я получил
      @switch (currency) {
      @case ('VND') {
      {{ totalVND() }}k VND
      }
      @case ('RUB') {
      {{ totalRub() }} ₽
      }
      @case ('USDT') {
      {{ totalUSDT() }} USDT
      }
      }
    </span>
  </label>

  @if(selectedUser) {
  <button class="buy-button" (click)="sellForCash(true)">
    Отправить билеты Гостю
  </button>
  } @else {
  <label class="gold-checkbox">
    <input type="checkbox" [(ngModel)]="isInside" />
    <span class="checkmark"></span>
    <span class="label-text">Гость прошел в зал</span>
  </label>
  <button class="buy-button" (click)="sellForCash(false)">
    Оформить билеты
  </button>
  }
  <button class="buy-button" (click)="cancelSellByCash()">
    Назад
  </button>
  } @else {

  <div class="timing">
    <div> {{event().date}}</div>
    <div> {{event().start}}</div>
    <div class="adults"> 18+</div>
  </div>
  <div class="place">
    @if(place()){
    {{ place().name }}
    <a class="ticket-map" [href]="place()?.map" target="_blank">
      Открыть на карте
    </a>
    }
  </div>
  <div class="schema">
    @if (!imageLoaded()) {
    <div class="loader">
      <div class="gold-spinner"></div>
    </div>
    }

    <img class="schema-image" [class.hidden]="!imageLoaded()" [src]="event().schema" alt="Схема зала"
      (load)="onImageLoad()" (error)="onImageError()">
  </div>

  @if (otherEvents().length > 0 && !showSales) {
  <div class="combo-block">
    <div class="combo-title">
      Купи билеты на 2-е шоу c 20% скидкой!
    </div>

    <div class="combo-events">
      @for (event of otherEvents(); track event.id) {
      <div class="combo-item" [class.selected]="selectedOtherEvent()?.id === event.id"
        (click)="selectOtherEvent(event)">

        <div class="combo-checkbox">
          <div class="checkmark" *ngIf="selectedOtherEvent()?.id === event.id">
          </div>
        </div>

        <div class="combo-info">
          <div class="combo-type">
            {{ event.type === 0 ? 'Стендап-концерт' : 'Стендап-импровизация' }}
          </div>

          <div class="combo-date">
            {{ event.date }} {{ event.start }}
            <span class="combo-place">
              {{
              stateService.placesMap().get(event.place)?.name
              }}
            </span>
          </div>

        </div>

      </div>

      }
    </div>
  </div>
  }
  @if (stateService.isAdmin()) {
  <button class="buy-button" (click)="showSales = !showSales">
    {{showSales ? 'Билеты' : 'Продажи'}}
  </button>
  }
  @if(showSales){
  <div class="tickets-wrapper">
    <div class="ticket-card" *ngFor="let sale of sales()">

      <div class="ticket-info">
        <div class="ticket-title">
          {{ ticketNames[sale.type] }}
          <span class="warning">
            {{sale.count}}
          </span>
        </div>
        <div class="ticket-prices">
          {{ sale.totalVND }}k VND /
          {{ sale.totalRub }} руб /
          {{ sale.totalUSDT }} USDT
        </div>

      </div>

    </div>
  </div>
  <div class="ticket-card">

    <div class="ticket-info">
      <div class="ticket-title">
        Итого:
        <span class="warning">
          {{totalSales().count}}
        </span>
      </div>
      <div class="ticket-prices">
        {{ totalSales().totalVND }}k VND /
        {{ totalSales().totalRub }} руб /
        {{ totalSales().totalUSDT }} USDT
      </div>

    </div>

  </div>
  } @else {

  <div class="tickets-wrapper">
    <div class="currency-switch">
      <button class="segment" [class.active]="currency === 'VND'" (click)="currency = 'VND'">
        VND
      </button>

      <button class="segment" [class.active]="currency === 'RUB'" (click)="currency = 'RUB'">
        Руб
      </button>

      <button class="segment" [class.active]="currency === 'USDT'" (click)="currency = 'USDT'">
        USDT
      </button>
    </div>
    @if (!ticketsLoaded()) {
    <div class="ticket-loader">
      <div class="gold-spinner"></div>
    </div>
    } @else {
    <div class="ticket-card" *ngFor="let ticket of tickets()">

      <div class="ticket-info">
        <div class="ticket-title">
          {{ ticketNames[ticket.type] }}
          @if(selectedOtherEvent()) {
          <span class="ticket-add">
            (на два шоу)
          </span>
          }
          @if(ticket.count === 0) {
          <span class="warning">
            sold out
          </span>
          }
        </div>
        <div class="ticket-prices">
          @switch (currency) {
          @case ('VND') {
          {{ ticket.priceVND * (selectedOtherEvent() ? 1.8 : 1) }}k VND
          }
          @case ('RUB') {
          {{ ticket.priceRub * (selectedOtherEvent() ? 1.8 : 1) }} ₽
          }
          @case ('USDT') {
          {{ ticket.priceUSDT * (selectedOtherEvent() ? 1.8 : 1) }} USDT
          }
          }

        </div>

        <div class="ticket-add">
          {{ ticket.add }}
        </div>
      </div>

      <div class="ticket-controls">
        <button class="control-btn" (click)="decrease(ticket)" [disabled]="getCount(ticket.type) === 0">
          −
        </button>

        <div class="ticket-count">
          {{ getCount(ticket.type) }}
        </div>

        <button class="control-btn" (click)="increase(ticket)" [disabled]="ticket.count === 0">
          +
        </button>
      </div>

    </div>
    }
  </div>

  <button class="buy-button" (click)="buyTickets()" [disabled]="state().length === 0">
    @switch (currency) {
    @case ('VND') {
    Купить за {{ totalVND() }}k VND
    }
    @case ('RUB') {
    Купить за {{ totalRub() }} ₽
    }
    @case ('USDT') {
    Купить за {{ totalUSDT() }} USDT
    }
    }
  </button>
  <button class="buy-button" (click)="buyByCash()">
    Купить за наличные
  </button>
  @if (isCashier() && state().length) {
  <button class="buy-button" (click)="sellByCash()">
    Продать за наличные
  </button>

  }
  <div class="important">
    Чтобы задать любой вопрос, напишите в чат с ботом
  </div>
  <button class="buy-button" (click)="goToBot()">
    Перейти в чат
  </button>
  }

  <button class="buy-button" (click)="back()">
    Назад
  </button>


  }
</div>

} @else {
<div class="loader">
  <div class="gold-spinner"></div>
</div>
}
