.tour {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.city-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.city-title {
  font-size: 26px;
  font-weight: 500;
  color: #d4af37;
  letter-spacing: 1px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Кнопки мероприятий */

.event-button {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 14px 22px;

  background: transparent;
  border: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 8px;

  color: #d4af37;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* Hover */
.event-button:hover {
  border-color: #d4af37;
  background: rgba(212, 175, 55, 0.05);
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.2);
}
