<div class="tour">
  <div class="city-block" *ngFor="let city of stateService.cities()">

    <span class="city-title">
      {{ city.name }}
    </span>

    <div class="events">

      <button class="event-button" *ngFor="let event of city.events" (click)="openEvent(event)">

        <span class="event-date">
          {{ event.date }}
        </span>

        <span class="event-place">
          {{ event.start }}
        </span>

        <span class="event-type">
          {{ eventsNames[event.type] }}
        </span>

      </button>

    </div>

  </div>
</div>
